
form#plxStars {
 width: max-content;
  width: 100%;
  margin: 2em auto;
}
form#plxStars fieldset {
 display:grid;
 grid-template-columns:repeat(2,auto);
 gap: 1em;
  padding: 0.5em 2em;
  box-shadow: 0 0 3px;
  width:max-content;
  max-width:90%;
    
}
#plxStars label {
 margin-inline-start: auto;
}
#plxStars input,
#plxStars select {
 margin-inline-end: auto;
}
#plxStars legend {
 background:ivory;
 font-size:1.4em;
  border-radius: 5px;
  box-shadow: 0 0 2px;
  padding-inline: 0.5em;
}
#plxStars code {
 color:blue;
 padding:0.2rem 0.1rem;
 background:cornsilk;
}
#plxStars input[type="submit"],
button {
 margin-inline-end: auto;
 background:tomato;
}
#plxStars button:not(:hover) {
 background:initial;
 color:initial
}