form[id^="rate-"] {
  background: #fff;
  width: max-content;
  font-size:clamp(14px, 3vw, 24px);
  pointer-events:none;
  margin :1em auto 0.25em;
  white-space:normal;
  --average:20%;
  box-shadow: 0 -1em white;
  border-radius: 3px;
  clear:both;
}
form[id^="rate-"]  fieldset {
  background: linear-gradient(90deg, gold var(--average), gray var(--average)) 95% center / 99% 2em
	no-repeat;
  background-clip: text;
  color: transparent;
  border-color: silver;
  padding-top:0;
  line-height:1.8em;
  border:revert;
  padding:revert;
  border-radius:inherit;
}
form[id^="rate-"]  legend {
  line-height:0;
  color: tomato;
  text-transform: uppercase;
  margin-bottom:0;
}
form[id^="rate-"]  sup,
form[id^="rate-"]  sub {
  color: gray;
  text-transform: lowercase;
}

form[id^="rate-"]  button[disabled] {
  background: none;
  border: none;
  cursor: not-allowed;
  color:inherit
}

form[id^="rate-"]  button {
  pointer-events:auto;
  cursor:pointer;
  vertical-align:top;
  background: none;
  border: none;
  font-size: 2em;
  color: inherit;
  width:2ch;
  padding: 0;
}
form[id^="rate-"]  fieldset:hover button:not([disabled]) {
  color: tomato;
}
form[id^="rate-"]  fieldset:hover button:hover ~ button {
  color: transparent;
}
form[id^="rate-"]  fieldset button:first-of-type{
  margin-inline-start:-.5em;
}
form[id^="rate-"]  fieldset button:last-of-type{
  margin-inline-end:-.5em;
}		